[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
aiokafka = "*"
python-daemon = "*"
sentry-sdk = "*"
APScheduler = "*"

[requires]
python_version = "3.7"
