[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
lxml = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-pylint = "*"
pytest-xdist = "*"
setuptools = "*"
sphinx = "*"
tox = "*"
twine = "*"
versioneer = "*"
wheel = "*"
yapf = "*"

[packages]
aiokafka = "*"
python-daemon = "*"
pyyaml = "*"
sentry-sdk = "*"
APScheduler = "*"

[requires]
python_version = "3.7"
